# Exclude configuration files
.vscode/
.vscode-test/**
.vscode-test.mjs

# Exclude node_modules unless needed
node_modules/

# Exclude test files
test/

# Exclude build output
out/**

# Exclude map files
*.map

# Exclude system files
desktop.ini

# Exclude unnecessary files for packaging
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.ts
**/.vscode-test.*
.github**
GUIDA.md
TODO
