# Exclude configuration files
.vscode/
.vscode-test/**
.vscode-test.mjs

# Exclude test files
test/

# Exclude source files
src/**

# Exclude map files
*.map

# Exclude system files
desktop.ini

# Exclude unnecessary files for packaging
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.ts
**/.vscode-test.*
.github**
GUIDA.md
TODO

# Include necessary runtime dependencies
!node_modules/**
node_modules/**/*.d.ts
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/license

# Exclude specific large or unnecessary packages from node_modules
node_modules/@types/**
node_modules/typescript/**
node_modules/eslint/**